body {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#numerusApp {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: auto;
    text-align: center;
}

h4 {
    margin-top: 0px;
}

#arabian {
    display: inline-block;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#others {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cistercian {
    width: 250px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#roman {
    margin: 10px;
    width: 250px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 10px;
    padding: 10px;
}

#canvas-warp { position:relative; } /* Make this a positioned parent */

#canvas-warp div {
    position:absolute; 
    width: 99px;
    height: 104px;
    cursor: pointer;
}

#canvas-warp div:hover {
    border: solid 1px lightblue;
}

#unit{
    top:0px; 
    left:127.5px;
}

#ten{
    top:0px; 
    left:21.5px;
}

#hundred{
    top:200px; 
    left:127.5px;
}

#thousand{
    top:200px; 
    left:21.5px;
}

#romanInput{
    font-family: 'Times New Roman', Times, serif;
}

.romanInputThousand {
    text-decoration: overline
}
